a:link {
    color: #FF0000;
}
a:visited {
    color: #990000;
}
a:hover {
    color: #AA0000;
}
a:active {
    color: #990000;
}

/* Colors for text */
.red {
  color: #FF0000;
}

.yellow {
  color: #FFFF00;
}

.green {
  color: #00FF00;
}

.cyan {
  color: #00FFFF;
}

.blue {
  color: #0000FF;
}

.purple {
  color: #8300FF;
}

.magenta {
  color: #FF00FF;
}

